/* Common Button's Style */
.primary-btn,
.text-btn
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	font-weight: 600;
	text-transform: uppercase;
	@extend %transition;

	&__icon{
		font-size: 1.5em;
	}
}
.primary-btn{
	color: var(--color-btn-text, $color-white);
	font-size: toRem(12);
	font-family: $font-primary;
	padding: toRem(15) toRem(38);
	&--has-icon{
		padding: toRem(12) toRem(40);
	}
	background-color: var(--color-primary, $color-primary);
	border: 0;
	border-radius: 3px;
	&:hover,
	&:focus{
		color: var(--color-btn-text, $color-white);
		background-color: var(--color-btn-hover, darken($color-primary, $amount: 5));
	}
	&--dark{
		background-color: $color-dark;
		&:hover,
		&:focus{
			background-color: lighten($color-dark, $amount: 10);
		}
	}
	&--google{
		background-color: #db402c;
        gap: 0;
		&:hover,
		&:focus{
			background-color: darken(#db402c, $amount: 10);
		}
	}
}

.btn-outline-dark{
    color: $color-dark;
    border-color: lighten($color-text, $amount: 45);
    &:hover,
    &:focus-visible
    {
        color: $color-white;
        background-color: $color-dark;
        border-color: $color-dark;
    }
    &:active{
        background-color: lighten($color-dark, $amount: 10);
    }
}

.text-btn{
	position: relative;
	color: var(--color-primary, $color-primary);
	font-size: toRem(13);

	&::after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) scaleX(0);
		width: 100%;
		height: 2px;
		background-color: var(--color-primary, $color-primary);
		transition: transform .3s ease-in-out;
	}

	&:hover,
	&:focus{
		color: var(--color-primary, $color-primary);

		&::after{
			transform: translateX(-50%) scaleX(1);
		}
	}
}

.tag-group{
    display: flex;
    flex-wrap: wrap;
    gap: toRem(12);
}

.badge{
    &--tag{
        display: inline-block;
        font-size: toRem(12);
        padding: 4px toRem(10);
        letter-spacing: -0.01em;
        border: 1px solid $color-light;
        transition:
            color 0.3s,
            border-color 0.3s;

        &:hover,
        &:focus
        {
            color: var(--color-primary, $color-primary);
            border-color: var(--color-primary, $color-primary);
        }
    }
}

.scroll-top{
	bottom: toRem(15);
	right: toRem(15);
	display: none;
	cursor: pointer;
	z-index: 7;
	@include mobile{
		bottom: 2%;
	}
	&__btn{
		font-size: toRem(16);
		color: $color-dark;
		background: var(--color-btn-text, $color-white);
		width: toRem(40);
		height: toRem(40);
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
		border-radius: 3px;
		transition:
			color .15s ease-in-out,
			background-color .15s ease-in-out;
		&:active,
		&:focus-visible
		{
			color: var(--color-btn-text, $color-white);
			background-color: var(--color-primary, $color-primary);
		}
	}
}

.app-btn{
    $radius: 7px;
    display: inline-flex;
    color: var(--color-btn-text, $color-white);
    &__icon::before,
    &__content
    {
        background-color: var(--color-primary, $color-primary);
        @extend %transition;
    }
    &:hover,
    &:focus
    {
        .app-btn{
            &__icon::before,
            &__content
            {
                color: var(--color-btn-text, $color-white);
                background-color: var(--color-btn-hover, darken($color-primary, $amount: 5));
            }
        }
    }
    &__icon{
        color: var(--color-btn-text, $color-white);
        position: relative;
        isolation: isolate;
        display: inherit;
        align-items: center;
        justify-content: center;
        font-size: toRem(28);
        padding: 2px toRem(18);
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;

        &::before{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            z-index: -1;
            filter: brightness(1.2);
        }
    }
    &__content{
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        padding: toRem(10) toRem(22);
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }

    &__text{
        font-size: toRem(13);
    }
    &__title{
        font-size: toRem(18);
    }
}
