/* Blog Card Style */
.blog-card{
    margin-bottom: toRem(30);
    &__header{
        position: relative;
        display: block;
        border-radius: 5px;
        overflow: hidden;
        padding-top: 56.25%;
        background-color: $color-light;
        &::after{
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba($color: #222222, $alpha: 0.2);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        &__image{
            position: absolute;
            inset: 0;
            display: block;
            width: 100%;
            height: 100%;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
            background-color: $color-light;
        }

        &:hover,
        &:focus
        {
            &::after{
                opacity: 1;
            }
            .blog-card__header__image{
                transform: scale(1.08);
            }
        }
    }
    &__body{
        padding: toRem(16) toRem(10) 0;

        &__meta{
            font-size: toRem(13);
            margin-bottom: toRem(6);

            &__link{
                color: $color-dark;
                font-weight: 600;
                @extend %transition;
                &:hover,
                &:focus{
                    color: $color-primary;
                }
            }
        }

        &__title{
            color: $color-dark;
            text-transform: uppercase;
            font-size: toRem(16);
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.025em;
            &__link{
                @extend %transition;
                &:hover,
                &:focus{
                    color: $color-primary;
                }
            }
        }
    }

    &--lg .blog-card{
        &__body{
            padding-top: toRem(30);
            padding-bottom: toRem(20);
            &__title{
                @include min-tablet{
                    font-size: toRem(24);
                }
            }
        }
    }
}

/* Accordion Card Style */
.accordion-card{
    border-bottom: 3px solid lighten($color-light, $amount: 5);

    & ~ .accordion-card:is(:last-child){
        border-bottom: 0;
    }

    &__header{
        position: relative;
        display: block;
        width: 100%;
        background-color: transparent;
        text-align: left;
        padding: toRem(30) toRem(1);
        border: 0;
        color: $color-dark;
        font-size: toRem(18);
        font-weight: 600;

        &:active,
        &:focus-visible
        {
            color: $color-primary;
        }

        &__icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: toRem(12);
            height: toRem(12);

            &::before,
            &::after
            {
                content: "";
                position: absolute;
                display: block;
                background-color: $color-text;
                transition: all .2s ease-in-out;
            }

            &::before{
                transform: rotate(0);
                width: 2px;
                height: toRem(12);
            }

            &::after{
                transform: rotate(0);
                width: toRem(12);
                height: 2px;
            }
        }

        &[aria-expanded="true"]{
            .accordion-card__header__icon{
                &::before{
                    transform: rotate(-90deg);
                    opacity: 0;
                }
                &::after{
                    transform: rotate(-180deg);
                }
            }
        }
    }

    &__body{
        padding-bottom: toRem(15);
    }
}

/* Aside Card Style */
.aside-card{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: toRem(15);

    &__header{
        position: relative;
        width: toRem(90);
        height: toRem(90);
        overflow: hidden;
        border-radius: 3px;

        &__image{
            display: block;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body{
        padding: toRem(5) toRem(15);
    }

    &__meta{
        color: lighten($color-text, $amount: 12);
        font-size: toRem(13);
        line-height: 1.2;
    }

    &__title{
        display: block;
        color: $color-dark;
        font-size: toRem(14);
        font-weight: 600;
        line-height: 1.5;
        @extend %transition;

        &:hover,
        &:focus
        {
            color: var(--color-primary, $color-primary);
        }

        &::before{
            content: "";
            position: absolute;
            inset: 0;
        }
    }
}
