// SCSS Variable's

$font-primary: 'Poppins', sans-serif;

$color-primary:#FF8500;
$color-secondary:#09122a;
$color-offwhite: #F9F9F8;

$color-text:#666666;
$color-dark:#333333;
$color-light:#e1e1e1;

$color-success:#28c76f;
$color-danger:#ea5455;

$color-black:#000000;
$color-white:#ffffff;
